- @page_title = "Servicios de paqueteria"
= content_for :header do
  %p.buttons= link_to "Regresar", [@delivery_service, :delivery_service_prices], :class => 'button'
  %h2.delivery_services Servicios de paqueteria
= render 'form'