- @page_title = "Servicio de Paqueteria"
= content_for :header do
  %p.buttons= link_to "Regresar", [@delivery_service, :delivery_service_prices], :class => 'button'
  %h2.delivery_services Servicio de Paqueteria
= render 'form'